@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove scroll bar visibility */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

/* Font family */
body {
  font-family: "DM Sans", sans-serif;
}

/* Poppins font */
.poppins {
  font-family: "Poppins", sans-serif;

}
